h1{
    display: block;
    text-align: center;
    text-shadow: 5px;
    color: #005; 
}
.book-filter {
    display: block;
    margin: 1rem;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }